{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Home  {% endblock %}
{% block main %}

    {% for d in data %}
        {% if loop.index0 == 0 %}
            <p style='color:hotpink'>{{ d.name }} {{ d.action }}</p>
        {% else %}
            <p>{{ d.name }} {{ d.action }}</p>
        {% endif %}
    {% endfor %}
    
{% endblock %}



{% block stylesheets %}
    <style>
        p {
            font-size: 30px;
        }
    </style>
{% endblock %}
